* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #a2a7bd, var(--bg-main));
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
}

.app {
  width: 1000px;
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* GLASS CARDS */
.player, .playlist {
  background: var(--bg-card);
  border-radius: 25px;
  padding: 25px;
  backdrop-filter: blur(20px);
  box-shadow: 0 30px 60px var(--shadow);
}

/* COVERS (NO IMAGES) */
.cover {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.cover-main {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #df526c, #845ec2);
}

/* Playlist cover colors */
.c1 { background: linear-gradient(135deg, #ff758c, #845ec2); }
.c2 { background: linear-gradient(135deg, #ffb347, #ffcc33); }
.c3 { background: linear-gradient(135deg, #43cea2, #185a9d); }
.c4 { background: linear-gradient(135deg, #30cfd0, #330867); }
.c5 { background: linear-gradient(135deg, #fa709a, #fee140); }
.c6 { background: linear-gradient(135deg, #667eea, #764ba2); }

/* TEXT */
.artist { color: var(--accent); }
.album { font-size: 13px; opacity: 0.6; margin-bottom: 20px; }

/* PROGRESS */
.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.bar {
  flex: 1;
  height: 6px;
  background: var(--bg-bar);
  border-radius: 10px;
}

.fill {
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, var(--accent), var(--accent-light));
  border-radius: 10px;
}

.player:hover .fill { width: 65%; }

/* CONTROLS */
.controls {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}

.controls button {
  background: none;
  border: none;
  color: #070606;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.controls button:hover {
  color: var(--accent);
  transform: scale(1.2);
}

.play {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--accent);
  color: #501e1e !important;
}

/* EQUALIZER */
.equalizer span {
  display: inline-block;
  width: 4px;
  height: 14px;
  background: var(--accent);
  margin-left: 4px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,100% { height: 8px; }
  50% { height: 18px; }
}

/* PLAYLIST */
.playlist ul { list-style: none; }

.playlist li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 12px;
  transition: 0.3s;
}

.playlist li:hover {
  background: rgba(153, 33, 33, 0.08);
}

.playlist li.active h4 {
  color: var(--accent);
}

.playlist p {
  font-size: 12px;
  opacity: 0.6;
}

.playlist span {
  margin-left: auto;
  font-size: 12px;
  opacity: 0.6;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .app {
    grid-template-columns: 1fr;
  }
}
